.Header {
    text-align: center;
}

.inputBar > input,button{
    margin: 0.5rem;
}

.article{
    display: flex;
    justify-content: end;
    margin: 2rem 0;
    width: 65vw;
}

.taskBtn{
    display: flex;
    flex-direction: column;
    margin: 0 3rem;
}